* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* INÍCIO TELA PERFIL */

/* INÍCIO HEADER */

.container1 {
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

nav img {
    width: 100px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav .container2 a {
    text-decoration: none;
    color: #0047AB;
    font-weight: bold;
    font-size: 22px;
}

nav button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px 0px #5d5d5d;
    font-size: 20px;
    font-weight: bold;
}

#btn_login {
    background-color: white;
    color: #0047AB;
}

#btn_cadastrar {
    background-color: #0047AB;
    color: white;
}

nav .container3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 85px;
}

nav span {
    text-decoration: none;
    color: #0047AB;
    font-weight: bold;
    font-size: 22px;
}

#fotoUsuario {
    width: 25%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid;
}

/* FIM HEADER */


/* INÍCIO MAIN */

main .container1 {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
}

main .container2 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #001F3F;
}

main .container2 span {
    color: white;
    font-weight: bold;
}

main .container3 {
    width: 100%;
    height: 80vh;
    display: flex;
}

main .container4 {
    width: 20%;
    background-color: #001F3F;
}

#perfil {
    color: white;
}

main .container4 a {
    color: #ADD8E6;
    font-weight: bold;
    font-size: 20px;
}

main .container5 {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
}

main .container5 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .container6 {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
}

main .container6 img {
    width: 50px;
    cursor: pointer;
}

main .container7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

main .container7 span {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

main .container8 {
    width: 90%;
    display: flex;
    justify-content: center;
}

main .container9 {
    width: 90%;
    display: flex;
}

main .container10 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .container10 span {
    color: #001F3F;
    font-weight: bold;
}

main .container10 input {
    width: 40%;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #D3D3D3;
}

main .container10 select {
    width: 40%;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #D3D3D3;
}

main .container10 .trocarSenha {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: #ADD8E6;
    font-weight: bold;
}

main .containerBotao {
    height: 7%;
}

main .container10 .salvar {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: #0047AB;
    font-weight: bold;
    color: white;
}

main .containerFoto {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .containerP1 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .containerP2 {
    display: flex;
    justify-content: center;
}

main .containerP2 img {
    border: 1px solid;
    width: 50%;
    height: 30vh;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .containerP3 {
    display: flex;
    justify-content: center;
}

main .containerP4 {
    display: flex;
    justify-content: center;
}

main .containerP4 input {
    display: none;
}

main .containerP4 span {
    cursor: pointer;
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
}

main .containerP4 label {
    width: 50%;
    display: flex;
    justify-content: center;
}

main .containerFoto span {
    font-weight: bold;
}

main .containerP5 {
    width: 75%;
    height: 7vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

main .containerP6 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .containerP6 input {
    width: 55%;
    height: 90%;
    background-color: #D3D3D3;
    border-radius: 10px;
    border-style: none;
}

main .containerP7 {
    width: 82%;
    height: 5vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

main .containerP8 {
    width: 77.5%;
    display: flex;
    justify-content: center;
}

main .containerP9 {
    width: 69.8%;
    display: flex;
    justify-content: center;
}

main .containerP10 {
    width: 89%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* FIM MAIN */

/* INÍCIO FOOTER */

footer .container1 {
    width: 100%;
    height: 65vh;
    background-color: #001F3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container1_1 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

footer .container2 {
    display: flex;
    justify-content: start;
    margin: 0 0 -3% 0;
}

footer .container2 img {
    width: 25vh;
    height: 25vh;
}

footer .container3 {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
}

footer .container3 span {
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
    color: white;
}

footer .container4 {
    margin: 0 0 2% 0;
}

footer .linha {
    width: 100%;
    height: 1px;
    background-color: #5d5d5d;
}

footer .container5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container5 span {
    color: white;
    font-style: italic;
}

/* FIM FOOTER */

/* FIM TELA PERFIL */


/* INÍCIO TELA TROCAR SENHA */
.telaTrocarSenha .container8 {
    width: 90%;
}

.telaTrocarSenha .container9 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 50%;
}

.telaTrocarSenha .container9 span {
    color: #001F3F;
    font-weight: bold;
}

.telaTrocarSenha .container9 input {
    width: 40%;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #D3D3D3;
}

.telaTrocarSenha .container10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaTrocarSenha .container10 span {
    font-size: 25px;
}

.telaTrocarSenha .container9 div {
    height: 15%;
    display: flex;
    align-items: center;
}

.telaTrocarSenha .botoes {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.telaTrocarSenha .botoes button {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    background-color: #0047AB;
    font-weight: bold;
    color: white;
}

/* FIM TELA TROCAR SENHA */


/* INÍCIO TELA ANOTAÇÕES */

.telaAnotacoes .containerA9 {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaAnotacoes .containerA9 span {
    color: #001F3F;
    font-weight: bold;
}

.telaAnotacoes .containerA10 {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 10%;
    width: 100%;
}

.telaAnotacoes .containerA10 span {
    cursor: pointer;
}

.telaAnotacoes .containerA11 {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.telaAnotacoes .containerA11 span {
    border-bottom: 1px solid;
}

.telaAnotacoes .containerA11 button {
    width: 13%;
    background-color: #ADD8E6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.telaAnotacoes .containerA12 {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
}

.telaAnotacoes .containerA12 table {
    width: 100%;
}

.telaAnotacoes .containerA12 tr {
    height: auto;
    display: flex;
    flex-direction: column;
}

.telaAnotacoes .container1 tr img {
    width: 20px;
    margin: 0 0 0 1%;
    cursor: pointer;
}

.telaAnotacoes .containerA12 input {
    background-color: #D3D3D3;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    margin: 0 0 1% 0;
    border-style: none;
}

#titulo {
    width: 50%;
}

.telaAnotacoes .containerA13 {
    align-self: flex-start;
    width: 25%;
    margin: 0 0 2% 0;
}

.telaAnotacoes .containerA14 button {
    width: 13%;
    background-color: #ADD8E6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.telaAnotacoes .containerA14 span {
    cursor: pointer;
}

.telaAnotacoes .containerA15 {
    align-self: flex-start;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.telaAnotacoes .containerA15 button {
    width: 45%;
    height: 5vh;
    border-radius: 10px;
    border-style: none;
    background-color: #0047AB;
    font-weight: bold;
    color: white;
}

/* FIM TELA ANOTAÇÕES */