* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* INÍCIO HEADER */

.container1 {
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

nav img {
    width: 100px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav .container2 a {
    text-decoration: none;
    color: #0047AB;
    font-weight: bold;
    font-size: 22px;
}

nav button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px 0px #5d5d5d;
    font-size: 20px;
    font-weight: bold;
}

#btn_login {
    background-color: white;
    color: #0047AB;
}

#btn_cadastrar{
    background-color: #0047AB;
    color: white;
}

/* FIM HEADER */


/* INÍCIO MAIN */

/* INÍCIO SESSÃO 1*/
main .container1{
    width: 100%;
    height: 80vh;
    background-color: #001F3F;
    border-radius: 0px 0px 200px 200px;
}

main .detalhe1 {
    width: 100%;
    height: 14%;
    position: absolute;
    display: flex;
    justify-content: end;
}

main .detalhe1_1 {
    background-color: #ADD8E6;
    width: 22%;
    height: 140%;
    border-radius: 0px 0px 0px 200px;
} 

main .container2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: auto;
    position: absolute;
    margin: 7% 0 0 9%;
}

main .container2 span {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#textoAzul1 {
    color: #ADD8E6;
}

#textoAzul2 {
    color: #ADD8E6;
}

#livro {
    margin: 10px 0px 20px 0px;
    font-size: 15px;
}

main .container2 button {
    background-color: #0047AB;
    color: white;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0px 4px 4px 0px black;
    width: 35%;
    height: 6vh;
    border-radius: 30px;
}

main .detalhe2 {
    width: 100%;
    height: 20%;
    position: absolute;
    margin: 32.1% 0 0 0;
}

main .detalhe2 .detalhe2_1 {
    background-color: #ADD8E6;
    width: 25%;
    height: 100%;
    border-radius: 0px 200px 0px 200px;
}

main .container1 img {
    margin: 8% 0 0 53%;
}
/* FIM SESSÃO 1*/

/* INÍCIO SESSÃO 2*/

main .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
    height: auto;
}

main .container3 .container3_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container3 .container3_1 span {
    font-size: 25px;
    font-weight: bold;
    color: #001F3F;
}

main .container3 .container3_2 {
    width: 70%;
    margin: 2% 0 0 0;
}

main .container3 .container3_4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 4% 0 0 0;
}

main .container3 .containerJgr {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container3 .containerJgr span {
    font-size: 15px;
    font-weight: bold;
    color: #001F3F;
}

main .container3 .container3_4 .container3_lucas {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    background-image: url('../imagens/lucas1.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

main .container3 .container3_4 .container3_lucas:hover {
    background-image: url('../imagens/lucas2.jfif');
}

main .container3 .container3_4 .container3_kaka {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    background-image: url('../imagens/kaka1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

main .container3 .container3_4 .container3_kaka:hover {
    background-image: url('../imagens/kaka2.png');
}

main .container3 .container3_4 .container3_pedro {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    background-image: url('../imagens/pedro1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

main .container3 .container3_4 .container3_pedro:hover {
    background-image: url('../imagens/pedro2.jfif');
}

main .container3 .container3_6 {
    width: 50%;
}

main .container3 .container3_7 {
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

main .container3 .container3_7 .container3_8 {
    width: 50px;
    height: 50px;
    margin: 0 0 0 5%;
    background-image: url(../imagens/aspas1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main .container3 .container3_9 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container3 .container3_9 span {
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 0 15%;
    color: #001F3F;
}

main .container3 .container3_10 {
    display: flex;
    align-items: center;
    justify-content: end;
}

main .container3 .container3_10 img {
    width: 50px;
    margin: 0 0 0 0;
}

main .container3 .container3_10 a {
    margin: 0 1% 0 0;
}

main .container3 .container3_10 span {
    font-size: 15px;
    color: #001F3F;
    font-weight: bold;
}

main .container3 .container3_11 {
    width: 50px;
    height: 50px;
    margin: 0 5% 0 40%;
    background-image: url(../imagens/aspas2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .container3 .aspasKaka {
    margin: 0 0 0 55%;
}

main .container3 .aspasPedro {
    margin: 0 0 0 40%;
}

/* FIM SESSÃO 2*/

/* INÍCIO SESSÃO 3*/

main .container4 {
    height: 70vh;
    margin: 10% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ADD8E6, #FFFFFF);
}

main .container4 .container4_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 2% 0;
}

main .container4 .container4_2 span {
    font-size: 25px;
    font-weight: bold;
    color: #001F3F;
}

main .container4 .container4_3 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

main .container4 .container4_3 div{
    width: 110vh;
    height: 50px;
    background-color: #001F3F;
    border-radius: 0 20px 20px 0;
    margin: 0 1% 0 1%;
}

main .container4 span {
    font-size: 25px;
    font-weight: bold;
}

main .container4 .container4_4 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.6% 6.3% 0 0;
}

main .container4 .container4_4 div{
    width: 100vh;
    height: 50px;
    background-color: #001F3F;
    border-radius: 0 20px 20px 0;
    margin: 0 1% 0 1%;
}

main .container4 .container4_5 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.6% 9.6% 0 0;
}

main .container4 .container4_5 div{
    width: 95vh;
    height: 50px;
    background-color: #001F3F;
    border-radius: 0 20px 20px 0;
    margin: 0 1% 0 1%;
}

main .container4 .container4_6 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.6% 10.5% 0 0;
}

main .container4 .container4_6 div{
    width: 92vh;
    height: 50px;
    background-color: #001F3F;
    border-radius: 0 20px 20px 0;
    margin: 0 1% 0 1%;
}

main .container4 .container4_7 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.6% 14.7% 0 0;
}

main .container4 .container4_7 div{
    width: 82vh;
    height: 50px;
    background-color: #001F3F;
    border-radius: 0 20px 20px 0;
    margin: 0 1% 0 1%;
}



/* FIM SESSÃO 3*/

/* FIM MAIN */