* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* INÍCIO TELA PERFIL */

/* INÍCIO HEADER */

.container1 {
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

nav img {
    width: 100px;
}

.container2 {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav .container2 a {
    text-decoration: none;
    color: #0047AB;
    font-weight: bold;
    font-size: 22px;
}

nav button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px 0px #5d5d5d;
    font-size: 20px;
    font-weight: bold;
}

#btn_login {
    background-color: white;
    color: #0047AB;
}

#btn_cadastrar {
    background-color: #0047AB;
    color: white;
}

nav .container3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 14vw;
    height: 50px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0f11088d;
    cursor: pointer;
}

.container3:hover .containerOpcoes{
    display: flex;
}

.containerOpcoes {
    border: 2px solid;
    box-shadow: 0px 0px 5px #0f11088d;
    background-color: white;
    width: 14vw;
    height: 12vh;
    border-radius: 10px;
    position: absolute;
    right: 10vw;
    top: 8vh;
    display: none;
    flex-direction: column;
}

.containerOpcoes span:hover {
    color: black;
}

nav span {
    text-decoration: none;
    color: #0047AB;
    font-weight: bold;
    font-size: 22px;
}

/* FIM HEADER */


/* INÍCIO MAIN */

main .container1 {
    width: 100%;
    height: 100%;
    margin: 0 0 10px 0;
}

main .container2 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #001F3F;
}

main .container2 span {
    color: white;
    font-weight: bold;
}

main .container3 {
    width: 100%;
    height: 80vh;
    display: flex;
}

main .container4 {
    width: 20%;
    background-color: #001F3F;
}

#perfil {
    color: white;
}

main .container4 a {
    color: #ADD8E6;
    font-weight: bold;
    font-size: 20px;
}

main .container5 {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
}

main .container5 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .container6 {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
}

main .container6 img {
    width: 50px;
    cursor: pointer;
}

main .container7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

main .container7 span {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

main .container8 {
    width: 90%;
    display: flex;
    justify-content: center;
}

main .container9 {
    width: 90%;
    display: flex;
}

main .container10 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .container10 span {
    color: #001F3F;
    font-weight: bold;
}

main .container10 input {
    width: 20vw;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #D3D3D3;
}

main .container10 select {
    width: 10vw;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #D3D3D3;
}

#dataNasc {
    width: 7vw;
}

main .container10 .trocarSenha {
    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #ADD8E6;
    font-weight: bold;
}

main .containerBotao {
    height: 7%;
}

main .container10 .salvar {
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    border-style: none;
    background-color: #0047AB;
    font-weight: bold;
    color: white;
}

main .containerFoto {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .containerP1 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .containerP2 {
    display: flex;
}

main .containerP2 img {
    border: 1px solid;
    width: 14vw;
    height: 25vh;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .containerP3 {
    display: flex;
    justify-content: center;
    width: 43%;
}

main .containerP4 {
    display: flex;
    justify-content: center;
    width: 43%;
}

main .containerP4 input {
    display: none;
}

main .containerP4 span {
    cursor: pointer;
    background-color: #D3D3D3;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
}

main .containerP4 label {
    width: 30vw;
    display: flex;
    justify-content: center;
}

main .containerFoto span {
    font-weight: bold;
}

main .containerP5 {
    width: 75%;
    height: 7vh;
    display: flex;
    align-items: end;
}

main .containerP6 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

main .containerP6 input {
    width: 55%;
    height: 90%;
    background-color: #D3D3D3;
    border-radius: 10px;
    border-style: none;
}

main .containerP7 {
    width: 82%;
    height: 5vh;
    display: flex;
    align-items: end;
}

main .containerP8 {
    width: 77.5%;
    display: flex;
}

main .containerP9 {
    width: 69.8%;
    display: flex;
}

main .containerP10 {
    width: 89%;
    height: 10vh;
    display: flex;
    align-items: end;
}

/* FIM MAIN */

/* INÍCIO FOOTER */

footer .container1 {
    width: 100%;
    height: 65vh;
    background-color: #001F3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container1_1 {
    display: flex;
    flex-direction: column;
    width: 80%;
}

footer .container2 {
    display: flex;
    justify-content: start;
    margin: 0 0 -3% 0;
}

footer .container2 img {
    width: 25vh;
    height: 25vh;
}

footer .container3 {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
}

footer .container3 span {
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
    color: white;
}

footer .container4 {
    margin: 0 0 2% 0;
}

footer .linha {
    width: 100%;
    height: 1px;
    background-color: #5d5d5d;
}

footer .container5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container5 span {
    color: white;
    font-style: italic;
}

/* FIM FOOTER */

/* FIM TELA PERFIL */


/* INÍCIO TELA TROCAR SENHA */
.telaTrocarSenha .container8 {
    width: 90%;
}

.telaTrocarSenha .container9 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 45vh;
}

.telaTrocarSenha .container9 span {
    color: #001F3F;
    font-weight: bold;
}

.telaTrocarSenha .container9 input {
    width: 12vw;
    height: 4vh;
    border-radius: 10px;
    border-style: none;
    background-color: #D3D3D3;
}

.telaTrocarSenha .container9 div {
    display: flex;
    align-items: center;
}

.telaTrocarSenha .container10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaTrocarSenha .container10 span {
    font-size: 25px;
}

.telaTrocarSenha .container11 {
    height: 200px;
}

.telaTrocarSenha .botoes {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.telaTrocarSenha .botoes button {
    width: 7vw;
    height: 5vh;
    border-radius: 10px;
    border-style: none;
    background-color: #0047AB;
    font-weight: bold;
    color: white;
}

.telaTrocarSenha .containerT1 {
    width: 25vw;
    height: auto;
    margin: 10px 0 10px 0;
    display: flex;
}

.telaTrocarSenha .containerT2 {
    width: 18vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.telaTrocarSenha .containerT3 {
    display: flex;
    align-items: center;
    width: 17vw;
}

.telaTrocarSenha .containerT3 img {
    width: 15px;
}

.telaTrocarSenha .containerT3 span {
    font-size: 14px;
}


/* FIM TELA TROCAR SENHA */


/* INÍCIO TELA ANOTAÇÕES */

/* INÍCIO ADICIONAR OBJETIVO */
.telaAnotacoes .containerA9 {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaAnotacoes .containerA9 span {
    color: #001F3F;
    font-weight: bold;
}

.telaAnotacoes .containerA10 {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    height: 10%;
    width: 100%;
}

.telaAnotacoes .containerA10 span {
    cursor: pointer;
}

.telaAnotacoes .containerA11 {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.telaAnotacoes .containerA11 span {
    border-bottom: 1px solid;
}

.telaAnotacoes .containerA11 button {
    width: 2vw;
    height: 3vh;
    background-color: #ADD8E6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.telaAnotacoes .containerA12 {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
}

.telaAnotacoes .containerA12 table {
    width: 100%;
}

.telaAnotacoes .containerA12 tr {
    height: auto;
    display: flex;
    flex-direction: column;
}

.telaAnotacoes .container1 tr img {
    width: 20px;
    margin: 0 0 0 1%;
    cursor: pointer;
}

.telaAnotacoes .containerA12 input {
    background-color: #D3D3D3;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
    height: 5vh;
    margin: 0 0 1% 0;
    border-style: none;
}

#titulo {
    width: 50%;
}

.telaAnotacoes .containerA13 {
    align-self: flex-start;
    width: 25%;
    margin: 0 0 2% 0;
}

.telaAnotacoes .containerA14 button {
    width: 2vw;
    height: 3vh;
    background-color: #ADD8E6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.telaAnotacoes .containerA14 span {
    cursor: pointer;
}

.telaAnotacoes .containerA15 {
    align-self: flex-start;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.telaAnotacoes .containerA15 button {
    width: 45%;
    height: 5vh;
    border-radius: 10px;
    border-style: none;
    background-color: #0047AB;
    font-weight: bold;
    color: white;
}

/* FIM ADICIONAR OBJETIVO */

/*INÍCIO EM ANDAMENTO*/
.telaAnotacoes .containerAA {
    display: flex;
    justify-content: center;
}

.telaAnotacoes .containerA16 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telaAnotacoes .containerA17 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.telaAnotacoes .containerA17 span {
    font-size: 15px;
}

.telaAnotacoes .containerA18 {
    border: 1px solid;
    border-radius: 10px;
    width: 76%;
    height: auto;
}

.telaAnotacoes .containerA19 {
    display: flex;
    align-items: center;
    height: 5vh;
}

.telaAnotacoes .containerA20 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.telaAnotacoes .containerA20 img {
    width: 20px;
    cursor: pointer;
}

.telaAnotacoes .containerA21 {
    width: 50%;
}

.telaAnotacoes .containerA22 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.telaAnotacoes .containerA23 {
    width: 85%;
    height: 4vh;
    border-radius: 10px;
    background: linear-gradient(to right, #6FD480 15%, #D3D3D3 1%);
}

.telaAnotacoes .containerA24 {
    width: 7.5vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.telaAnotacoes .containerA24 img {
    width: 20px;
    cursor: pointer;
}

.telaAnotacoes .containerA25 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 3px;
    width: 2vw;
    height: 3vh;
    cursor: pointer;
}

.telaAnotacoes .containerA27 {
    display: flex;
}

.telaAnotacoes .containerA27 table {
    width: 98%;
}

.telaAnotacoes .containerA27 tr {
    display: flex;
    flex-direction: column;
}

.telaAnotacoes .containerA27 td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

.telaAnotacoes .containerA27 td input {
    background-color: #D3D3D3;
    font-weight: bold;
    border-radius: 10px;
    width: 41vw;
    height: 5vh;
    margin: 0 0 1% 0;
    border-style: none;
}

.telaAnotacoes .containerA27 td img {
    width: 20px;
    height: 22px;
}

.telaAnotacoes .containerA {
    width: 1vw;
}

.telaAnotacoes .containerA28 {
    width: 7vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.telaAnotacoes .containerA29 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 3px;
    width: 2vw;
    height: 3vh;
    cursor: pointer;
}

.telaAnotacoes .containerA31 {
    width: 40%;
    margin: 0 0 2% 0;
    display: flex;
}

.telaAnotacoes .containerA32 {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
}

.telaAnotacoes .containerA32 button {
    width: 2vw;
    height: 3vh;
    background-color: #ADD8E6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.telaAnotacoes .containerA32 span {
    cursor: pointer;
}

/*FIM EM ANDAMENTO*/

/* FIM TELA ANOTAÇÕES */


/* INÍCIO TELA QUIZ */

.telaQuiz .container8 {
    align-items: center;
    flex-direction: column;
}

.telaQuiz .container8_1 {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaQuiz .containerQQ {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaQuiz .containerQQQ {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.telaQuiz .containerQQQ span {
    font-weight: bold;
    color: #001F3F;
    cursor: pointer;
}

.telaQuiz .containerQQQQ {
    height: 20vh;
    width: auto;
    display: flex;
    align-items: center;
}

.telaQuiz .containerQQQQ span {
    font-weight: bold;
    color: #001F3F;
    font-size: 25px;
}

.telaQuiz .containerQ9 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.telaQuiz .containerQ {
    display: flex;
    align-items: center;
    height: 20%;
}

.telaQuiz .containerQ10 {
    border: 3px solid;
    width: 70%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ADD8E6;
}

.telaQuiz .containerQ11 {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaQuiz .containerQ11 img {
    width: 50px;
    margin: 0 0 0 40px;
}

.telaQuiz .containerQ12 {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaQuiz .containerQ12 span {
    font-weight: bold;
    font-size: 20px;
}

#parabens {
    margin: 0 90px 0 0;
    font-size: 30px;
}

.telaQuiz .containerQ13 {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaQuiz .containerQQ13 {
    height: 7vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaQuiz .containerQQ13 button {
    background-color: #0047AB;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}

.telaQuiz .containerQQ13 button:hover {
    background-color: white;
    color: #0047AB;
}

#div_proxima button {
    background-color: #0047AB;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}

#div_proxima button:hover {
    background-color: white;
    color: #0047AB;
}

.telaQuiz .containerQ14 {
    width: 83%;
    display: flex;
}

.telaQuiz .containerQ14 button {
    width: 60vw;
    height: 5vh;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    transition: 0.3s ease;
}

.telaQuiz .containerQ14 button:hover {
    transform: scale(1.02);
}

.telaQuiz .pontuacao {
    align-items: center;
}

.telaQuiz .pontuacao span {
    font-size: 30px;
}

#quantidade {
    width: 25vw;
}

#acertos {
    width: 22.5vw;
}

#erros {
    width: 20vw;
}

.telaQuiz .containerQ15 {
    width: 10%;
}

.telaQuiz .containerQ15 span {
    font-weight: bold;
    font-size: 30px;
}

/* FIM TELA QUIZ */


/* INÍCIO TELA RANKING */
.telaQuiz .containerQ16 {
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.telaQuiz .containerQ16 span {
    font-weight: bold;
    color: #001F3F;
    font-size: 30px;
}

.telaQuiz .containerQ17 {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.telaQuiz .containerQQ1 {
    width: 40%;
}

.telaQuiz .top1 {
    height: 100%;
}

.telaQuiz .top2 {
    height: 75%;
}

.telaQuiz .top3 {
    height: 60%;
}

/* FIM TELA RANKING */